html {
max-width: 800px;
margin: 0 auto;
}

.header-format {
  border:5px solid #1A1A31;
  margin: 10px 30px; 
  text-align: center;
  background-color: #5CCEC4;
  font-family: cursive, monospace;
  font-size: 1.2em;
}
 
  .photo { 
    border: 5px solid #29C376;
    border-radius: 10%;
    width: 100%;
    float: right;
    margin: 0px 0px 0px 10px;
    max-width: 200px;
  }

  .paragraphs {
    background-color: #EFF5F4  ; 
  }

table {
  border-collapse: collapse;
  border: 1px solid;
}

td, th {
  background-color: #87E5BE;
  border-top: 1px solid;
  border-right: 1px solid; 
  padding: 10px 10px 10px 10px;
}

  .page { 
    margin: 10px 30px 10px 30px;
    font-family: cursive, monospace;
    text-align: justify;
}

.nav {
  padding: 0;
  margin: 0;
}

.nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav li {
  font-family: monospace;
  font-size: 1em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid white;
  }

.nav a {
  color: white;
  text-decoration: none;
  display: block;
  transition: 3s background-color;
  background-color: #777;
}

.nav a:hover {
  background-color: #5CCEC4;
  }

@media screen and (min-width: 600px) {
  .nav li {
    width: 25%;
    border-bottom: none;
    line-height: 50px;
    font-size: 1.2em;
    display: inline-block;
    margin: -4px;
  }
}

#governorates {
  clear: both;
}

#attractions {
  clear: both;
}

.survey {
  clear: both;
}

.footer-format {
  text-align: center;
  border-top: 3px solid;
  margin: 50px 30px 0px 30px;
}

.buttons {
  float: left;
  width: 30%;
  margin-right: 3%;
  background-color: #5CCEC4;
}

.date-posted {
  font-size: 0.7em;
  font-weight: bold;
}

.youtube {
  margin: 0px 0px 10px 0px;
  border: 5px solid #29C376;
  border-radius: 10%;
}

.display-block {
    display: block;
}

.final {
    margin-bottom:10px;
}
